@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

.custom-heading-font {
    font-family: "Noto Sans", sans-serif !important;
    font-weight: 900 !important;
    font-size: 3rem !important;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maven Pro", sans-serif;
    max-width: 100vw !important;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

:root {
    --primary: #990000;
    --secondary: #094990;
    --bg-color: #f1f2f6;
    --sidenav-bg: #000;
    --text-color-dark-pure: #000;
    --text-color-dark: #333;
    --text-color-light: #fff;
    --text-color-muted: #6c757d;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
}

.text-primary-clr {
    color: var(--primary);
}

.text-secondary-clr {
    color: var(--secondary);
}

.bg-primary-clr {
    background-color: var(--primary);
}

.bg-secondary-clr {
    background-color: var(--secondary);
}

h1,
h2,
h3 {
    font-family: "Maven Pro", sans-serif;
    font-size: 2.5rem;
    color: var(--secondary);
    font-weight: 700;
}

h5,
h4 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    color: var(--text-color-dark);
    font-size: 1.9rem;
}
h5 {
    font-size: 1.7rem;
}

h6 {
    font-family: "Fira Sans", sans-serif;
    -webkit-transition-duration: 500ms;
    transition-duration: 0.2s;
    line-height: 1.2;
    font-size: 1.6rem;
    color: var(--text-color-dark-pure);
    font-weight: 500 !important;
}

p {
    font-family: para-font, sans-serif;
    color: var(--text-color-muted);
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 400;
}

h5:hover,
h6:hover {
    color: var(--primary) !important;
    transition: all 500ms ease-in-out;
}

a,
a:hover,
a:focus {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    color: var(--text-color-dark);
}

.single-page-style {
    height: 226.3rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.single-page-style::-webkit-scrollbar {
    width: 5px;
}

.single-page-style::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.single-page-style::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

.single-page-style::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/* ============= Top Header Style ============ */
.small-top {
    text-align: center;
    width: 100%;
    padding: 0.2rem 0;
    background-color: var(--bg-color);
}

.small-top .social-icon {
    float: right;
}

.small-top .social-icon a {
    border-left: 0.1rem solid var(--text-color-dark-pure);
    color: var(--text-col-dark-pure);
    float: left;
    padding: 0.6rem 1.3rem;
    font-size: 1.6rem;
}

.small-top .social-icon a:last-child {
    border-right: 0.1rem solid var(--text-color-dark-pure);
}

.small-top .social-icon a:hover {
    color: var(--primary);
    text-decoration: none;
}

.small-top .date-time span {
    font-family: "Maven Pro", sans-serif;
    color: var(--text-color-dark);
    font-size: 1.6rem;
    font-weight: 600;
}

.login-singup a {
    color: var(--primary);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    background: #eeeeee;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%) inset;
    border-radius: 15px;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    padding: 0.3rem 1rem;
    margin-right: 0.3rem;
}
.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}

/***Block Search****/
#block-search-form .form-text,
#search-block-form .container-inline .form-text {
    width: 200px;
    padding: 5px 10px;
    border: none;
    background: none;
    font-size: 1.3rem;
    color: #f7f7f7 !important;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    box-sizing: border-box;
}
.form-text::-webkit-input-placeholder {
    color: #fafafa;
}

#block-search-form .container-inline,
#search-block-form .container-inline {
    overflow: hidden;
    display: inline-block;
    background: #a31919;
    border-top: 1px solid #650f0f;
    border-bottom: 1px solid #b13b3b;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    border-radius: 14px;
}
#block-search-form .container-inline .form-item,
#search-block-form .container-inline .form-item {
    float: left;
    margin: 0;
}
#block-search-form .container-inline .form-actions,
#search-block-form .container-inline .form-actions {
    float: right;
}

#block-search-form .form-submit,
#search-block-form .form-submit {
    /* background:url(../images/search.png) no-repeat center 6px; */
    border: 0;
    line-height: normal;
    width: 32px;
    height: 28px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: none;
    padding: 8px 5px;
    font-size: 1.6rem;
}
#search-block-form .form-submit:hover {
    color: #000;
}
.form-submit:hover {
    color: var(--primary);
}
/*****************************************/
.login-singup a:hover {
    background-color: var(--primary);
    color: whitesmoke;
}

/* Side-Menu Navbar Content
================================================== */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1022;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    font-size: 1.6rem;
}

#mySidenav .list_box{
    height: 100%;
}
#mySidenav .sidebar {
    height: calc(100% - 0px);
    overflow: hidden;
    overflow-y: scroll;
}

#mySidenav .sidebar .user_actions {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 64px;
    background-color: #efefef;
    height: 100%;
    padding: 16px 11px;
    text-align: center;
}
.sidebar .user_actions .menu_search{
    font-size: 2rem;

}
.sidebar .user_actions .menu_social{
    text-align: center;
    position: absolute;
    bottom: 0;
}
.sidebar .user_actions .menu_social p {
    font-size: 11px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
}
.sidebar .user_actions .menu_social a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 auto;
    margin-bottom: 20px;
}
.sidebar .user_menus {
    padding-left: 64px;
}
.sidebar .user_menus .list-group .list-group-item {
    position: relative;
    display: block;
    font-family: "Maven Pro" !important;
    padding: 14px 14px 14px 25px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #e4e4e4!important;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.sidebar .user_menus .list-group .list-group-item .badge-primary {
    color: #787878;
    background-color: transparent;
    padding: 0;
    padding-right: 35px;
    width: 17px;
    font-size: 1.5rem;
}
.connectus a {
    border: 0!important;
}
.sidenav a.sidenav-dropbtn i.fa{
    border: 1px solid #787878;
    border-radius: 25px;
    font-size: 1.2rem;
    padding: 4px;
    color: #787878;
    font-weight: 600;
}
.sidenav a.sidenav-dropbtn{
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px 20px;
}
.sidebar .user_menus .list-group .collapse_container ul {
    margin: 0;
    padding: 0;
    list-style: circle;
}
.sidebar .user_menus .list-group .collapse_container ul li {
    list-style: none;
    font-size: 13px;
    border-top: 1px solid #bbbbbb;
}
.sidebar .user_menus .list-group .collapse_container ul li a {
    color: #616161;
    text-decoration: none;
    position: relative;
    background-color: #fff;
    padding: 14px 3px 14px 40px;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
}

 /* Search Popup  */
 .over_lay1 {
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 0%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    -webkit-transition: .2s cubic-bezier(.42,0,0,1.04);
    transition: .2s cubic-bezier(.42,0,0,1.04);
}
.search_container {
    position: fixed;
    width: 360px;
    left: -360px;
    top: 130px;
    z-index: 999999;
    -webkit-transition: .4s cubic-bezier(.42,0,0,1.04);
    transition: .4s cubic-bezier(.42,0,0,1.04);
}
.search_container .search_box {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 51%);
    box-shadow: 0 2px 3px rgb(0 0 0 / 51%);
    margin: 5px;
    border-radius: 30px;
    position: relative;
}
.search_container .search_box .search_icon1 {
    position: absolute;
    left: 15px;
    top: 8px;
    z-index: 999;
    padding-right: 10px;
}
.search_container .search_box input {
    width: 100%;
    padding: 8px 50px 8px 60px;
    border-radius: 30px;
    border: 0;
    position: relative;
    font-size: 1.7rem;
}
.search_container .search_box .search_submit {
    position: absolute;
    right: 1px;
    top: 1px;
    border-radius: 50%;
    border: 0;
    width: 40px;
    height: 40px;
    background-color: #616161;
}
/* Desktop And Mobile Toggle Button with Mobile Navbar
==================================================== */
.start-header .mobile-toggle {
    background-color: var(--sidenav-bg);
}

.start-header .mobile-toggle span {
    font-size: 25px;
    cursor: pointer;
}

.start-header .mobile-toggle a img {
    height: 5rem;
}

.start-header .mobile-toggle a {
    font-size: 30px;
    color: var(--text-color-light);
    margin-top: -6px;
}

/* Desktop Navigation Styles */
/* ================================================== */
.col-md-9-custom {
    -ms-flex: 0 0 78%;
    flex: 0 0 78%;
    max-width: 78%;
}

.col-md-2-custom {
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    max-width: 12%;
}

.start-header {
    background-color: var(--primary);
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.281);
    transition: all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

.nav {
    font-size: 1.6rem;
    position: relative;
}

.ul-reset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

nav.nav > ul > li {
    display: inline-block;
    font-size: 1.25rem;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0 0px;
    text-transform: uppercase;
}

nav.nav > ul > li.p-relative {
    position: relative;
}

nav.nav > ul > li:first-child {
    padding-left: 0;
}

nav.nav > ul > li:last-child {
    padding-right: 0;
}

nav.nav > ul > li > .nav-link {
    color: var(--text-color-light);
    display: block;
    position: relative;
    padding: 3px 8px;
    font-size: 1.4rem;
    border-radius: 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-weight: 600;
    transition: all 200ms linear;
}

nav.nav > ul > li:hover > a,
nav.nav > ul > li > a.active {
    color: var(--primary);
    background: #eeeeee;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%) inset;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #fff;
}

.b-right {
    border-right: 1px solid #cecece;
}

/* #Mega Menu Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 120%;
    right: 0;
    background-color: #fff;
    z-index: 200;
    box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /* transform: translateX(); */
}

.mega-menu h3 {
    color: var(--text-color-dark);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 5px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.mega-menu ul {
    float: left;
}

.mega-menu ul:last-child {
    margin-right: 0;
}

.mega-menu li a {
    color: var(--text-color-dark);
    transition: all 200ms linear;
    display: block;
    padding: 4px 10px;
    line-height: 1.3;
    margin: 10px 0;
    text-align: center;
    font-weight: 600;
    border-left: 1px solid #9006;
}

.mega-menu a:hover {
    color: var(--primary);
}
.mega-menu .ul-reset a:hover {
    color: var(--text-color-light);
}

/* #Droppable Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.droppable {
    display: inline-block;
    clear: both;
    position: inherit;
    z-index: 10;
}

.droppable:hover .mega-menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
}

/* #Browser Clearfix
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.nav-item-sub .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    display: none;
    transition: all 200ms linear;
}

.nav-item-sub:hover .dropdown-menu {
    opacity: 1;
    display: block;
    max-height: 100vh;
    transform: translate3d(0, 1px, 0);
}

.dropdown-menu {
    max-height: 20rem;
    padding: 0.5rem 1rem;
    margin: 0;
    letter-spacing: 1px;
    color: var(--text-color-dark);
    background-color: var(--bg-color);
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    box-shadow: -2px 4px 16px -2px rgb(0 0 0 / 49%);
    transition: all 200ms linear;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    color: var(--text-color-dark);
    transition: all 200ms linear;
    font-weight: 700;
    border-radius: 0.25rem;
    margin-bottom: 2px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: var(--primary);
}

/* #DropDown Sub Menu 2nd Level
================================================== */
.dropdown-sub .dropdown-sub-menu {
    display: none;
}

.dropdown-sub:hover .dropdown-sub-menu {
    position: absolute;
    z-index: 2 !important;
    display: block;
    float: right;
    min-width: 10rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    color: var(--text-color-dark);
    text-align: left;
    list-style: none;
    background-color: var(--bg-color);
    background-clip: padding-box;
    border: 0px;
    border-radius: 0.25rem;
    box-shadow: -2px 4px 16px -2px rgb(0 0 0 / 49%);
}

.dropright .dropdown-sub-menu {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: 0.125rem;
}

/* #DropDown Sub Menu 3rd Level
================================================== */
.dropdown-sub-2 .dropdown-sub-menu-2 {
    display: none;
}
.dropdown-sub-3 .dropdown-sub-menu-3 {
    display: none;
}

.dropdown-sub-2:hover .dropdown-sub-menu-2,.dropdown-sub-3:hover .dropdown-sub-menu-3 {
    position: absolute;
    z-index: 3 !important;
    display: block;
    float: right;
    min-width: 10rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    color: var(--text-color-dark);
    text-align: left;
    list-style: none;
    background-color: var(--bg-color);
    background-clip: padding-box;
    border: 0px;
    box-shadow: -2px 4px 16px -2px rgb(0 0 0 / 49%);
    border-radius: 0.25rem;
}

.dropright .dropdown-sub-menu-2,.dropright .dropdown-sub-menu-3 {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: 0.125rem;
}

.dropright .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}

.dropright .dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropright .dropdown-toggle::after {
    vertical-align: 0;
}

/* #Search Bar
================================================== */
.desktop-search {
    font-size: 2.5rem;
}

.form-control-1 {
    outline: none;
    background-color: var(--sidenav-bg);
    border: 3px solid var(--bg-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: medium;
    padding: 10px 50px;
}

.form-control-1:focus {
    outline: none;
    background-color: var(--sidenav-bg);
    border: 3px solid var(--primary);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: var(--text-color-light);
}

.modal-header-1 {
    border-bottom: none;
    padding: 2rem 2rem;
}

.modal-dialog-1 {
    width: 100%;
    height: 100%;
    margin: 0;
}

.modal-content-1 {
    height: auto;
    width: 100vw;
    min-height: 100%;
    border-radius: 0;
    background: none;
    box-shadow: none;
}

.modal-body-1 {
    text-align: center;
    padding-top: 25vh;
}

.modal-body-1 form {
    margin: 0 auto;
    float: none;
    width: 50vw;
}

.form-control-1 {
    outline: none;
    background-color: var(--sidenav-bg);
    border: 3px solid var(--text-color-light);
    border-top: 0;
    border-left: 0;
    width: 100%;
    border-right: 0;
    font-size: xx-large;
    padding: 10px 50px;
    color: var(--text-color-light);
    text-align: center;
}

.form-control-1:focus {
    outline: none;
    background-color: var(--sidenav-bg);
    border: 3px solid var(--primary);
    border-top: 0;
    width: 100%;
    border-left: 0;
    border-right: 0;
    color: var(--text-color-light);
}

.search-button {
    background-color: var(--primary);
    color: var(--text-color-light);
    width: 50%;
    border-radius: 25px;
    font-size: 1.8rem;
}

.modal-content-1 .close {
    opacity: 1;
    font-size: 1.8rem;
    color: var(--text-color-light);
}

/* Desktop Breaking News Alert 
======================================= */
.news-alert p {
    font-size: 18px;
    color: var(--text-color-dark-pure);
    font-weight: 600;
}

.news-alert a h2 {
    font-size: 17px;
    display: inline;
    font-weight: 500;
    margin-left: 10px;
    color: var(--text-color-dark);
}

.alert-dismissible .close {
    padding: 0.5rem 2rem;
    margin-top: -10px;
}

.alert button span {
    color: var(--text-color-light);
    font-size: 3rem !important;
}

.breaking-news-mobile {
    font-size: 16px;
    color: var(--text-color-dark-pure);
}

.bg-dark-pure {
    background-color: var(--text-color-dark-pure);
}
.bg-dark-pure marquee {
    padding: 5px;
}
.mobile-news-alert marquee a h2 {
    font-size: 16px;
    display: inline;
    font-weight: 500;
    margin-left: 10px;
    color: var(--text-color-light);
}

/* Swiper nav  in Mobile 
=================================== */

div.scrollmenu {
    background-color: var(--text-color-light);
    overflow: auto;
    white-space: nowrap;
    padding: 5px 0px;
}

.link-swipe {
    display: inline-block;
    color: var(--text-color-dark);
    text-align: center;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.5s ease-out;
    font-size: 1.8rem;
    border-right: 1px solid #0000003d;
}

.link-swipe:hover {
    color: var(--primary);
}

/* ================ Section Style ========== */

/* Hero Section  */
.box {
    position: relative;
    overflow: hidden;
}

.content-overlay {
    box-shadow: inset 0px -50px 50px #2b2b2b;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.img-title {
    position: absolute;
    padding: 0 1rem;
    color: var(--text-color-light);
    text-align: left;
    left: 0;
    right: 0;
    bottom: 0%;
}

.img-title p {
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 600;
}

/* ================Post Data style 2 ========== */

/* sectioin links */
.section-link {
    color: var(--primary);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    background: #eeeeee;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%) inset;
    border-radius: 15px;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #fff;
    transition: all 0.5ms ease-in-out;
    padding: 0.3rem 1.2rem;
    margin-right: 0.5rem;
}

.section-link:hover {
    background: var(--primary);
    color: var(--text-color-light) !important;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 1.6rem;
}

/*=============== Sectioin 1 ===========*/
.single-blog-post {
    position: relative;
    z-index: 1;
}

.card-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-horizontal img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center center;
}

.single-blog-post .post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    min-width: 130px;
    width: 130px;
}

.single-blog-post .post-thumb a {
    display: block;
}

.single-blog-post .post-data {
    margin-left: 1rem;
}

.single-blog-post .post-data .post-catagory {
    font-size: 1.6rem;
    color: var(--primary);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}

.single-blog-post .post-data .post-title {
    display: block;
}

.single-blog-post .post-data .post-title h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    line-height: 1.3;
    font-size: 1.6rem;
    color: var(--text-color-dark-pure);
}

.single-blog-post .post-data .post-title h6:hover,
.single-blog-post .post-data .post-title h6:focus {
    color: var(--primary);
}

.single-blog-post .post-data .post-meta .post-date {
    margin-bottom: 0;
}

.single-blog-post .post-data .post-meta .post-date a {
    display: block;
    font-size: 1rem;
    color: #aaa;
}

.single-blog-post .post-data .post-meta .post-date a:hover,
.single-blog-post .post-data .post-meta .post-date a:focus {
    color: var(--primary);
}

.single-blog-post.style-2 {
    margin-bottom: 5px;
    border-bottom: 1px dotted var(--primary);
}

.single-blog-post.style-2:last-of-type {
    margin-bottom: 0;
}

.single-blog-post.style-2 .post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    min-width: 90px;
    width: 90px;
}

.single-blog-post.style-2 .post-date a {
    font-size: 1rem;
    color: #aaa;
}

.single-blog-post.style-3 .post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    min-width: 100%;
    width: 100%;
    margin-bottom: 50px;
}

/*Content Style
==========================================*/

/* Tag or Category Section 1  */
.img-box {
    position: relative;
}

.tag {
    position: absolute;
    text-align: left;
    top: 3%;
    margin-left: 5px;
    font-size: 0.6rem;
    background-color: var(--primary);
    color: var(--text-color-light-hover);
}

.tag:hover {
    background-color: var(--text-color-dark);
    color: var(--text-color-light-hover);
}

/* Bread Link  */
.bread-link {
    font-size: 1rem;
    color: var(--primary);
    font-weight: 500;
}

.bread-link:hover {
    color: var(--secondary);
}

.see-all {
    font-size: large;
    background-color: var(--text-color-light-hover);
    padding: 0 10px;
}

.border-line {
    background: var(--secondary);
    float: left;
    height: 1px;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 20px;
}

div.section-header-container {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 15px;
    position: relative;
    margin-top: 20px;
}

/* ========= Marquee Tag slider News ========  */
.marquee {
    top: 0px;
    right: 4px;
    bottom: 4px;
    width: 30%;
    position: absolute;
    box-sizing: border-box;
    margin: 0 auto;
}

.news-slider {
    background-color: #000000a4;
    padding: 5px 10px;
    margin: 0;
}

.slider-title {
    color: #f7f7f7;
    font-size: 12px;
}

.text-muted {
    color: #6c757d !important;
    line-height: normal;
}

/* Sidebar Content scrroller */
.side-position {
    position: relative;
}

.side-bar {
    width: 100%;
    max-height: 385px;
    overflow-y: scroll;
    background-color: #f1f2f6;
    padding: 0 5px;
    overflow-x: hidden;
}

.side-bar::-webkit-scrollbar {
    width: 5px;
}

.side-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.side-bar::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

.side-bar::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.card-body a p:hover {
    color: var(--primary);
}

/* Card Hover Shadow  */

.card-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.13);
    transition: all 0.3s ease-in-out;
}

/* On mouse-over, add a deeper shadow */
.card-shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

/* =============Footer ============
================================== */

footer.nb-footer {
    background: #1c1c1e;
    border-top: 4px solid var(--primary);
}

footer.nb-footer .about {
    margin-top: 40px;
    max-width: 100% !important;
    text-align: center;
}

footer.nb-footer .about p {
    font-size: 1rem;
    color: var(--text-color-light);
    margin-top: 30px;
}

footer.nb-footer .about .social-media {
    margin-top: 15px;
}

footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--primary);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media ul li a:hover {
    background: var(--primary);
    color: var(--text-color-light-hover);
    border-color: var(--primary);
}

footer.nb-footer .footer-info-single {
    margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 1rem;
    border-left: 4px solid var(--primary);
    padding-left: 5px;
    font-size: 1.8rem;
}

footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0;
    font-size: 1.5rem;
}

footer.nb-footer .footer-info-single ul li a:hover {
    color: var(--primary);
}

footer.nb-footer .footer-info-single p {
    font-size: 0.8rem;
    line-height: 20px;
    color: var(--text-color-light);
}

footer.nb-footer .copyright {
    margin-top: 15px;
    background: #1c1c1e;
    padding: 7px 0;
    color: var(--text-color-light);
}
footer nav > ul > li > .nav-link:hover {
    color: var(--primary);
}
footer nav > ul > li > .nav-link {
    color: var(--text-color-light);
    padding: 1px 10px !important;
}
footer.nb-footer .copyright p {
    margin: 0;
    padding: 0;
}

.news-status {
    font-size: 1.2rem;
    color: #aaa;
}

.border-all {
    border: 1px solid var(--primary) !important;
}


footer nav > ul > li {
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0 0px;
    text-transform: uppercase;
}

footer nav > ul > li.p-relative {
    position: relative;
}

footer nav > ul > li:first-child {
    padding-left: 0;
}

footer nav > ul > li:last-child {
    padding-right: 0;
}

footer nav > ul > li > .nav-link {
    color: var(--text-color-light);
    display: block;
    position: relative;
    padding: 3px 8px;
    border-radius: 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all 200ms linear;
}

footer nav > ul > li:hover > a,
footer nav > ul > li > a.active {
    color: var(--primary);
    background: #eeeeee;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%) inset;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #fff;
}

/* #Media Queries For All style
================================================== */
@media (min-width: 768px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }

    .video-bg {
        background: black;
    }
}

@media (max-width: 767px) {
    .mobile-height-black {
        min-height: 50px;
    }
    .heading-single {
        font-size: 1.6rem;
    }

    .news-status {
        font-size: 1rem !important;
    }

    .col-md-2-custom {
        flex: 100% !important;
        max-width: 100% !important;
    }

    .form-control-1 {
        font-size: medium !important;
        padding: 5px 20px !important;
    }

    .modal-body-1 form {
        margin: 0 auto;
        float: none;
        width: 80vw;
    }

    h1,
    h2,
    h3 {
        font-size: 2.3rem;
    }

    h5,
    h4 {
        font-size: 1.6rem;
    }

    h6 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.3rem;
    }

    .author-des {
        border: none !important;
    }

    .author-heading h1 {
        font-size: 3rem !important;
    }

    .flag-color {
        font-size: 45px !important;
    }

    .banner-height {
        height: 50px !important;
    }

    .icon-size {
        font-size: 25px !important;
    }

    .font-size-sm,
    .font-size-sm > p,
    .font-size-sm > span {
        font-size: 12px !important;
    }

    .single-para {
        font-size: 16px !important;
    }

    .social-media-size {
        font-size: 18px !important;
    }

    .subscribe-btn {
        margin-top: 3px !important;
        font-size: 16px !important;
        width: 100%;
    }

    .slider-height {
        height: 250px !important;
    }

    .footer-flag {
        font-size: 16px !important;
    }

    .flag-author-border {
        border: 0px !important;
    }

    .card-text {
        font-size: 1.6rem !important;
    }

    .footer-img {
        max-width: 100% !important;
        height: auto;
        margin: auto;
    }

    .custom-margin {
        margin-bottom: 0px;
    }

    .custom-margin-col-2 {
        margin-bottom: 0px;
    }

    .img-fluid-1 {
        max-width: 20px !important;
    }

    .custom-heading-font {
        font-size: 2.3rem !important;
    }

    .home-video {
        height: auto !important;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-height {
        height: auto !important;
    }

    .marquee {
        right: 4px !important;
        bottom: 0px;
    }

    .cat-slider-height {
        height: auto !important;
    }

    .panel-body ul,
    .panel-body li a {
        text-align: left !important;
    }

    .single-page-style {
        height: auto !important;
    }
}

.footer-img {
    max-width: 70%;
    height: auto;
    margin: 0;
}

.cat-slider-height {
    height: 406px;
}

.home-video {
    height: 299px;
}

.img-fluid-1 {
    max-width: 100%;
    height: auto;
}

.icon-size {
    font-size: 30px;
}

.font-size-sm,
.font-size-sm > p,
.font-size-sm > span {
    font-size: 15px;
}

.slider-height {
    height: 400px !important;
}

.single-para {
    font-size: 1.6rem;
    line-height: 1.2;
    margin: 0px;
}

.subscribe-btn {
    margin-top: -3px;
    font-size: 18px !important;
}

.footer-flag {
    font-size: 25px;
}

.flag-author-border {
    border-bottom: 2px solid var(--secondary);
}

.custom-margin {
    margin-bottom: 40px;
}

.custom-margin-col-2 {
    margin-bottom: 36px;
}

.footer-img {
    width: 68%;
    margin-top: -30px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    /* Desktop Navbar  */
    nav > ul > li > .nav-link {
        font-size: 1.3rem !important;
        margin: 0 5px;
    }

    .small-top .social-icon a {
        font-size: 1.4rem !important;
        padding: 0.6rem 1rem !important;
    }

    .language {
        font-size: 1.4rem !important;
    }

    .login-singup a {
        font-size: 1.2rem !important;
    }

    h6 {
        font-size: 1.5rem !important;
    }

    footer.nb-footer .footer-info-single .title {
        font-size: 1.7rem !important;
    }

    footer.nb-footer .footer-info-single ul li a {
        font-size: 1.4rem !important;
    }
}

.close span:hover {
    color: black !important;
}

.nav-height {
    min-height: 35px;
}

.b-active {
    background-color: var(--primary);
    color: #f2f2f2;
    padding: 1px 3px;
}

.nav-active {
    background-color: var(--primary) !important;
    color: #f2f2f2 !important;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 3px 8px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3),
        0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: var(--primary);
    box-shadow: none;
    color: #f2f2f2;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

/* side bar Slider  */
.holder {
    height: auto;
    background: gray;
    color: #fff;
    text-align: center;
}

.center {
    margin: 10px;
}

.inside-image {
    width: 100%;
    height: 100%;
}

.lazy-height {
    height: 300px;
}

.fade-height {
    height: 400px;
}

.author-des {
    border-right: 2px solid darkblue;
}

.flag-color-news {
    font-size: 80px;
    background: #ff9933;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.flag-color-15 {
    font-size: 80px;
    background: #fff;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.flag-color-india {
    font-size: 80px;
    background: #138808;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: var(--secondary);
    color: #fff;
}

.nav-tabs .nav-link {
    background-color: #ccc;
    color: #666;
    font-weight: 700;
    border: 0;
}

.social-tab {
    font-family: para-font, sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 400;
    color: #fff;
    padding: 8px;
}

.social-tab-f {
    background-color: #4267b2;
}

.social-tab-t {
    background-color: #1da1f2;
}

.social-tab-g {
    background-color: #db4437;
}

.social-tab:hover {
    background-color: #f3f3f3;
}

.social-tab-f:hover {
    color: #4267b2;
}

.social-tab-t:hover {
    color: #1da1f2;
}

.social-tab-g:hover {
    color: #db4437;
}

.social-tab > i {
    font-size: 1.2rem;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.form_wrapper {
    background: #fff;
    width: 95%;
    box-sizing: border-box;
    padding: 0px 10px;
    margin: 5px auto 0;
    position: relative;
    z-index: 1;
    border-top: 5px solid var(--primary);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: none;
    transition: none;
    -webkit-animation: expand 0.8s 0.6s ease-out forwards;
    animation: expand 0.8s 0.6s ease-out forwards;
    opacity: 0;
}
.form_wrapper h2 {
    font-size: 1.6em;
    line-height: 1.6em;
    margin: 0;
}
.form_wrapper .title_container {
    text-align: center;
    padding-bottom: 15px;
}
.form_wrapper h3 {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
}
.form_wrapper label {
    font-size: 14px;
}
.form_wrapper .row {
    margin: 10px -15px 0 -15px;
}
.form_wrapper .row > .outer {
    padding: 0 15px;
    box-sizing: border-box;
}
.form_wrapper .row > .inner {
    padding: 0 6px;
    box-sizing: border-box;
}
.form_wrapper .col_half {
    width: 50%;
    float: left;
}
.form_wrapper .input_field {
    position: relative;
    margin-bottom: 10px;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}
.form_wrapper .input_field > span {
    position: absolute;
    left: 0;
    top: 0;
    color: #666;
    height: 100%;
    border-right: 1px solid #cccccc;
    text-align: center;
    width: 30px;
}
.form_wrapper .input_field > span > i {
    padding-top: 10px;
}
.form_wrapper .textarea_field > span > i {
    padding-top: 10px;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="email"],
.form_wrapper input[type="tel"],
.form_wrapper input[type="password"] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.form_wrapper input[type="text"]:hover,
.form_wrapper input[type="email"]:hover,
.form_wrapper input[type="password"]:hover {
    background: #fafafa;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="email"]:focus,
.form_wrapper input[type="password"]:focus {
    -webkit-box-shadow: 0 0 2px 1px hsla(212, 77%, 17%, 0.507);
    -moz-box-shadow: 0 0 2px 1px hsla(212, 77%, 17%, 0.507);
    box-shadow: 0 0 2px 1px hsla(212, 77%, 17%, 0.507);
    border: 1px solid #094990;
    background: #fafafa;
}
.form_wrapper input[type="submit"] {
    background: #138808;
}
.form_wrapper .button-signup {
    background: #1da1f2 !important;
    border: 2px solid transparent !important;
}
.form_wrapper .button-signup:hover {
    background: #fff !important;
    border: 2px solid #1da1f2 !important;
    color: #1da1f2 !important;
}
.form_wrapper .button-signup:focus {
    background: #1da1f2 !important;
}
.form_wrapper input[type="submit"] {
    line-height: 35px;
    padding: 1px 28px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.form_wrapper input[type="submit"] {
    background: #138808;
    border: 2px solid transparent;
}
.form_wrapper input[type="submit"]:hover {
    background: #fff;
    border: 2px solid #138808;
    color: #138808;
}
.form_wrapper input[type="submit"]:focus {
    background: #0f6d07;
}
.form_wrapper input[type="checkbox"],
.form_wrapper input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form_container .row .col_half.last {
    border-left: 1px solid #cccccc;
}

.checkbox_option label {
    margin-right: 1.6em;
    position: relative;
}
.checkbox_option label:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    vertical-align: -2px;
    border: 2px solid #cccccc;
    padding: 0.16em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
}
.checkbox_option label:after {
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    content: "";
    height: 20px;
    left: 2px;
    position: absolute;
    top: 10px;
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    width: 7px;
    display: none;
}
.checkbox_option input:hover + label:before {
    border-color: #000000;
}
.checkbox_option input:checked + label:before {
    border-color: #000000;
}
.checkbox_option input:checked + label:after {
    -moz-animation: check 0.8s ease 0s running;
    -webkit-animation: check 0.8s ease 0s running;
    animation: check 0.8s ease 0s running;
    display: block;
    width: 7px;
    height: 20px;
    border-color: #000000;
}
.link-after-button {
    word-spacing: -2px;
    color: #1da1f2;
}

.radio_option label {
    margin-right: 1em;
}
.radio_option label:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    border-radius: 100%;
    vertical-align: -3px;
    border: 2px solid #cccccc;
    padding: 0.21em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
}
.radio_option input:hover + label:before {
    border-color: #000000;
}
.radio_option input:checked + label:before {
    background-color: #000000;
    border-color: #000000;
}

.select_option {
    position: relative;
    width: 100%;
}
.select_option select {
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
}
.select_option select::-ms-expand {
    display: none;
}
.select_option select:hover,
.select_option select:focus {
    color: #000000;
    background: #fafafa;
    border-color: #000000;
    outline: none;
}

.select_arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
}
.line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #666;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.line span {
    background: #fff;
    padding: 0 10px;
    font-size: 1.6rem;
}
.select_option select:hover + .select_arrow,
.select_option select:focus + .select_arrow {
    border-top-color: #000000;
}
.footer-text {
    font-size: 140%;
}
.modal-footer-login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: center;
    padding: 0.5rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    border-bottom: 5px solid var(--primary);
}
@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 7px;
    }
    50% {
        height: 20px;
        width: 7px;
    }
}
@keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 7px;
    }
    50% {
        height: 20px;
        width: 7px;
    }
}
@-webkit-keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}
@keyframes expand {
    0% {
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale3d(1, 1.2, 1);
        transform: scale3d(1, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1, 0.85, 1);
        transform: scale3d(1, 0.85, 1);
    }
    75% {
        -webkit-transform: scale3d(1, 1.05, 1);
        transform: scale3d(1, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes bounce {
    0% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        opacity: 0;
    }
    25% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@media (max-width: 600px) {
    .form_wrapper .col_half {
        width: 100%;
        float: none;
    }

    .bottom_row .col_half {
        width: 50%;
        float: left;
    }

    .form_container .row .col_half.last {
        border-left: none;
    }

    .remember_me {
        padding-bottom: 20px;
    }
    .line span {
        font-size: 1.2rem;
    }
    .line {
        margin: 5px 0 12px;
    }
    .footer-text {
        font-size: 100%;
    }
}
/* // Paginateion Style  */
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
    font-size: 1.8rem;
    color: var(--primary);
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}
.pagination > nav > ul > li:hover > a,.pagination > nav > ul > li > a.active {
    color: var(--primary) !important;
    background: #eeeeee;
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%) inset;
    border-top: 1px solid #adadad;
    border-radius: 0px !important;
    border-bottom: 1px solid #fff;
    font-weight: 600;
}

.block-drop {
    font-size: 1.6rem;
    color: var(--primary);
    font-weight: 600;
    outline: none;
    border: 1px solid var(--primary);
    padding: 2px 5px;
    border-radius: 30px;
}

.subscribe-button {
    color: var(--text-color-light-hover);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    background: var(--primary);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%) inset;
    border-radius: 15px;
    border-top: 1px solid #650f0f;
    border-bottom: 1px solid #b13b3b;
    transition: all 0.3s ease-in-out;
}
.subscribe-button:focus {
    outline: none;
    box-shadow: none;
}

.breadcrumb-item.active span {
    color: #f3f3f3;
    background: #910000;
    padding: 0px 6px;
}

.btn-primary-3d {
    padding: 5px 10px;
    color: var(--bg-color) !important;
    width: 100%;
    text-decoration: none;
    font-size: 1.8rem;
    border-radius: 5px;
    background: var(--primary);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 10%) inset;
    border-top: 1px solid #650f0f;
    border-bottom: 1px solid #b13b3b;
    transition: all 0.3s ease-in-out;
}
.btn-primary-3d:focus {
    box-shadow: none;
    outline: none;
}

button.nav-link {
    outline: none;
    border: none;
}

.dropdown-menu a,
.mega-menu a {
    text-transform: capitalize;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--primary);
}

.mega-menu-tabs::-webkit-scrollbar {
    width: 5px;
    margin: 0px 1px;
    background: #3a3a3a44;
}
.mega-menu-tabs::-webkit-scrollbar-thumb {
    background: var(--primary);
}

button.back-to-top {
    margin: 0 !important;
    padding: 0 !important;
    background: #fff;
    height: 0px;
    width: 0px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: transparent;
    clear: both;
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    display: block;
    border: none;
    right: 50px;
    bottom: 75px;
    font-size: 0px;
    outline: 0 !important;
    z-index: 99;
    transition: all 0.3s ease-in-out;
}
button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus {
    outline: 0 !important;
}
button.back-to-top::before {
    vertical-align: middle;
    margin: -5px 0 auto;
}
button.back-to-top.show {
    display: block;
    background: var(--primary);
    color: #fff;
    font-size: 25px;
    right: 25px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
button.back-to-top.show:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

.sidenav.show {
    width: 25%;
}

@media screen and (max-width: 992px) {
    .sidenav.show {
        width: 90%;
    }
}
