.tab-height {
    height: 300px;
}
.tox .tox-notification{
    display: none !important;
}
.uploader {
    background: #fff;
    border: 3px dashed #e8e8e8;
    color: #aaa;
    cursor: pointer;
    font-size: 22px;
    padding: 40px 0 26px;
    position: relative;
    text-align: center;
    margin:0px 5px;
}

.file {
    height: 130px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.2s all ease-in-out;
}

.copied {
    font-family: "Montserrat", sans-serif;
    width: 75px;
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: #000;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 15px #b8c6db;
    -moz-box-shadow: 0 3px 15px #b8c6db;
    -webkit-box-shadow: 0 3px 15px #b8c6db;
}

.file-selected,
.file:hover {
    border: 3px solid #1c68be;
    border-radius: 5px;
}

.up-file {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#seo_wrap .seo-preview * {
    word-break: break-all;
}

.page-title-seo {
    color: #1a0dab;
    display: block;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 2px;
    min-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#seo_wrap .seo-preview .page-url-seo p {
    word-wrap: break-word;
    color: #006621;
    display: block;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 2px;
}

.preview-image-wrapper {
    background: #fafbfc;
    border: 1px solid rgba(195, 207, 216, .3);
    display: inline-block;
    height: 150px;
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    margin-bottom: 10px;
}

.btn_remove_image {
    background: #ddd;
    border-radius: 50% !important;
    color: #000;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 30px;
}