.tab-height {
    height: 300px;
}
.tox .tox-notification{
    display: none !important;
}
.uploader {
    background: #fff;
    border: 3px dashed #e8e8e8;
    color: #aaa;
    cursor: pointer;
    font-size: 22px;
    padding: 40px 0 26px;
    position: relative;
    text-align: center;
    margin:0px 5px;
}

.file {
    height: 130px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.2s all ease-in-out;
}
#media-box .file {
    height: 100px;
}
.copied {
    font-family: "Montserrat", sans-serif;
    width: 75px;
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: #000;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 15px #b8c6db;
    -moz-box-shadow: 0 3px 15px #b8c6db;
    -webkit-box-shadow: 0 3px 15px #b8c6db;
}

.file-selected,
.file:hover {
    border: 3px solid #1c68be;
    border-radius: 5px;
}

.up-file {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#seo_wrap .seo-preview * {
    word-break: break-all;
}

.page-title-seo {
    color: #1a0dab;
    display: block;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 2px;
    min-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#seo_wrap .seo-preview .page-url-seo p {
    word-wrap: break-word;
    color: #006621;
    display: block;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 2px;
}

.preview-image-wrapper {
    background: #fafbfc;
    border: 1px solid rgba(195, 207, 216, .3);
    display: inline-block;
    height: 150px;
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    margin-bottom: 10px;
}

.btn_remove_image {
    background: #ddd;
    border-radius: 50% !important;
    color: #000;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 30px;
}

/* Tags style  */
.bootstrap-tagsinput .badge {
    margin: 2px 4px;
    padding: 5px 8px;
    font-size: 75%;
    font-weight: 700;
}
.bootstrap-tagsinput{
    max-height: 150px;
    overflow-y: scroll;
}
.bootstrap-tagsinput .badge [data-role="remove"] {
    margin-left: 5px;
    cursor: pointer;
}

 /* Media Box Style  */
.img-box {
    background: #fff;
    border: 3px dashed #e8e8e8;
    color: #aaa;
    cursor: pointer;
    display: block;
    font-size: 22px;
    padding: 40px 0 26px;
    position: relative;
    text-align: center;
}

.img-box button {
    font-size: 14px;
    color: #555555;
    background: #cccccc;
}

.img-box span {
    font-size: 10px;
}

.controls {
background: #fff;
padding: 6px 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.controls button {
    border: 0px;
    color: #5a5cbb;
    margin: 4px;
    padding: 4px 12px;
    cursor: pointer;
    background: transparent;
}

.controls button.active,
.controls button.active:hover {
    background: #5a5cbb;
    color: #fff;
}

.controls button:hover {
    background: #efefef;
}

input[type=checkbox] {
    vertical-align: middle !important;
}

 /* Category Page Tree Style  */
.tree {
    margin: 2% auto;
    width: 80%;
}

.tree ul {
    display: none;
    margin: 4px auto;
    margin-left: 6px;
    border-left: 1px dashed #dfdfdf;
}


.tree li {
    padding: 12px 18px;
    cursor: pointer;
    vertical-align: middle;
    background: #fff;
}

.tree li:first-child {
    border-radius: 3px 3px 0 0;
}

.tree li:last-child {
    border-radius: 0 0 3px 3px;
}

.tree .active,
.active li {
    background: #efefef;
}

.tree label {
    cursor: pointer;
}

.tree input[type=checkbox] {
    margin: -2px 6px 0 0px;
}

.has>label {
    color: #000;
}

.tree .total {
    color: #5a5cbb;
}
 /* News Module Style  */
#news .bg-secondary{
    font-size: 10px;
}
.custom-banner{
    border-radius: 5px;
}
#news tr > td{
    padding: 20px 10px;
}

.btn-group-sm>.btn, .btn-sm{
    font-size: .800rem;
}
.btn i{
    margin-top: -20px;
    font-size: 1rem;
}
.category-input{
    max-height: 300px;
    overflow-y: scroll;
}